<!DOCTYPE html>
<html>
    <head>
        <title>NeverMind</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>
    <body>
        <h1>Psychiatrists near you!</h1>
        <% @psychiatrists.each do |psychiatrist| %>
            <div class="psych">
                <h2><a><%= psychiatrist.name %></a></h2>
                <ul class="psych_info">
                    <li>Email: <%= psychiatrist.email %></li>
                    <li>Reigion: <%= psychiatrist.reigion%></li>
                </ul>
            </div>
        <% end %>
    </body>
</html>